<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>B.O.W.S.</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Arañas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/spiderre2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Arañas contagiadas con el virus que han sufrido un aumento considerable de tamaño.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cocodrilo</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cocodrilore2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es un cocodrilo normal que ha incrementado su tamaño y fiereza por el Virus. Posiblemente sea resultado de aquella moda en la que los padres regalaban crias de cocodrilo a sus hijos y cuando empezaban a crecer los tiraban por el W.C.
        </p>
      </mat-card-content>


      
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cucarachas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cucarachas.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son cucarachas infectadas con el virus. Rápidas y mortales.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cuervo</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cuervore2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Cuervos infectados por el T-Virus que atacan a cualquier criatura viva que se les pase por delante. Suelen ir en bandadas.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Lickers</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/lickerre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Criaturas que se caracterizan por tener partes del cuerpo sin piel y garras como cuchillas. Además, poseen una lengua en forma de lanza capaz de atravesar en un instante el torso humano.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Mutación del Virus G</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/mutacion.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es la criatura a la que evoluciona el embrión que implanta Birkin en sus víctimas cuando las ataca. En el juego podemos ver como se originan de Brian Irons o de Ben Bertolucci.
        </p>
      </mat-card-content>
    </mat-card>



    
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cerberus</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/perrore2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son perros guardianes infectados por el virus.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Plantas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/plantare2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Plantas comunes que han mutado en una especie de monstruo debido a los efectos del virus.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Polilla Gigante</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/polillare2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es una polilla común cuyo tamaño se ha incrementado drásticamente debido a los efectos del virus.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	
          Mr X</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/mrxre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es una criatura de aspecto humano pero extremadamente fuerte que Umbrella manda para recuperar la muestra del G-Virus.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Zombies</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/zombiere2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Las personas que han sido contaminadas por el T-Virus. Están muertos y tienen el cuerpo putrefacto.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">William Birkin</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/birkinformas.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es la criatura en la que se transforma William Birkin cuando, herido de gravedad, se inyecta el G-Virus con la esperanza de regenerar sus células.
        </p>
      </mat-card-content>
    </mat-card>



    



    



    






  </div>
</ion-content>
