<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Armas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">M92FS</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/rebeccagun.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">M9-1911</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/billygun.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Cuchillo</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/knife.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Rifle Cacería</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/riflecaceria.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Escopeta</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/escopeta.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanza Granadas</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/lanzagra.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Magnum</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/magnum.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Molotov</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/molotov.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Revolver Magnum</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/revolver.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">MP5</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/mp5.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzacohetes</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/rocket.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>
  </div>
  
</ion-content>
