<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Armas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">M92FS</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/rebeccagun.jpeg" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>
  </div>
  
</ion-content>
