<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident evil 0</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/resident0.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Una ciudad americana del medio-oeste, Raccoon City.
Una isla aislada en medio del mar, Rock Fort.
Una isla que se volvería la segunda Raccoon, Sheena.

Aun quedan muchos interrogantes sobre estos terribles incidentes que aparentemente no tienen relación alguna.
Aunque se cree que la multinacional Umbrella está implicada de alguna forma, poco se sabe del origen de esta misteriosa corporación

¿Cuando se fundó?
¿Por quién?
¿Cómo se creo el T-Virus?

Para descubrir la verdad, debemos indagar en lo que ocurrió antes,
antes del episodio de la mansión...
        </p>
      </mat-card-content>
      
    </mat-card>
  </div>
</ion-content>
