<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Armas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Cuchillo de Jill</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/jillknife.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Cuchillo de Chris</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/chriskinfe.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Beretta M92FS</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/bereta.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Remington M870</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/Escopeta_REmake-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzagranadas</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/granadalare.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzallamas</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/llamas.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Colt Phyton .357 Magnum</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/coltre.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzacohetes M66</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/rocketre.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Pistola de Autodefensa</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/self-defense-gun-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Escopeta de Richard</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/richishotgun.png">
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Samurai Edge</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/samurai-edge-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Arma Antitanque</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/antitanke.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>
  </div>
  
</ion-content>

