<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>B.O.W.S.</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Zombies</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/zombies.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son personas infectadas por el T-Virus. En un principio parecen estar muertas, pero sólo se trata de un periodo de hibernación mientras que el virus asimila la estructura celular, reanima el sistema muscular y nervioso y reestructura la cadena de ADN.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cerberus</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cerberus.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Perros alterados genéticamente por medio del T-Virus, de forma que su fuerza y agresividad han quedado aumentadas.
        </p>
      </mat-card-content>


      
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Sanguijuelas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/leech.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son el resultado de administrarle T-Virus a sanguijuelas comunes. Debido a ello doblan su tamaño original y presentan un apetito insaciable consumiendo a gran velocidad cualquier tipo de presa. Actúan en grupo y una vez que han comido carne humana permanecen juntas en huevos para resurgir posteriormente en un nuevo estado de evolución, el cual precederá a la formación de los leech zombies.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Leech Zombie</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/leechzombie.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es el último estado evolutivo de las sanguijuelas, en el que se agrupan y forman una criatura que es idéntica a James Marcus (tal como era antes de morir).
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Escorpión</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/stinger.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es un escorpión que se debe haber contagiado de forma accidental por el escape del T-Virus. Como consecuencia ha aumentado de tamaño y presenta una fuerza sobrenatural. Dispone de una coraza muy resistente, mide 3 metros de longitud sin extender la cola, 1 metro de ancho sin incluir las pinzas y 2 metros de alto.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Crawler</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/crawler.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son criaturas creadas mediante la repetida manipulación del ADN de varios insectos con el T-Virus. Fueron descartardas y se abandonó su desarrollo como arma biológica cuando al evaluar su comportamiento se apreció que no disponían de suficiente inteligencia para acatar órdenes.
        </p>
      </mat-card-content>
    </mat-card>



    
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cuervo</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/crow.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Cuervos infectados por el T-Virus que atacan a cualquier criatura viva que se les pase por delante. Suelen ir en bandadas.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Ciempiés</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/Cienpies.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es un ciempiés que ha sido infectado por el T-Virus y su tamaño se ha visto incrementado hasta la asombrosa cifra de 10 metros.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Arañas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/spider.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Arañas contagiadas por el T-Virus y manipuladas genéticamente que han crecido en tamaño y fiereza.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Eliminators</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/simios.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Simios que sirvieron como sujetos de prueba para el proyecto B.O.W. con el T-Virus. Por su anormal desarrollo muscular, la piel aparece rasgada y sobresalen partes internas.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Hunter</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/hunter.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Una forma de vida que se crea alterando la estructura genética de un humano mediante T-Virus y añadiendo posteriormente información genética de otros reptiles. Su nombre en código "Hunter" expresa la habilidad y eficiencia que tienen para acechar y dar caza a las presas. Además tienen la suficiente inteligencia como para comprender y ejecutar órdenes simples.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Murciélago</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/bat.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Murciélago común que ha aumentado de tamaño tras su exposición al T-Virus. Viene acompañado por otros murciélagos pequeños, pero más fieros de lo normal.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Proto-Tyrant</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/prototyrant.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Surge como resultado de los primeros pasos que dieron Birkin y Wesker en la búsqueda del B.O.W. definitivo. Este prototipo es increiblemente fuerte, mide sobre 2,5 metros de altura y destaca por sus enormes y afiladas garras. Fue descartado por carecer de inteligencia.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Lurkers</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/lurker.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Ranas que han crecido desmesuradamente gracias a los efectos del T-Virus y al proceso de experimentación con anfibios. Sus ojos se han deteriorado pero pueden localizar a su presa con algún tipo de órgano sensitivo.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Sanguijuela Reina</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/reina.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Las sanguijuelas que habían devuelto la vida a Marcus alcanzan el máximo estado de evolución y transformán a su huesped en un ser aun más poderoso, en la reina de las sanguijuelas.
        </p>
      </mat-card-content>
    </mat-card>







  </div>
</ion-content>

