<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>B.O.W.S.</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Remake</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/zombies.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son personas infectadas por el T-Virus. En un principio parecen estar muertas, pero sólo se trata de un periodo de hibernación mientras que el virus asimila la estructura celular, reanima el sistema muscular y nervioso y reestructura la cadena de ADN.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Remake</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cerberus.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Perros alterados genéticamente por medio del T-Virus, de forma que su fuerza y agresividad han quedado aumentadas.
        </p>
      </mat-card-content>


      
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Remake</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/leech.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son el resultado de administrarle T-Virus a sanguijuelas comunes. Debido a ello doblan su tamaño original y presentan un apetito insaciable consumiendo a gran velocidad cualquier tipo de presa. Actúan en grupo y una vez que han comido carne humana permanecen juntas en huevos para resurgir posteriormente en un nuevo estado de evolución, el cual precederá a la formación de los leech zombies.
        </p>
      </mat-card-content>


      
      
    </mat-card>










  </div>
</ion-content>

