<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident evil 2</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/re2og.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Hace dos meses los S.T.A.R.S. dieron por concluidas las actividades de Umbrella en la mansión de los Arckleys y por fín el pueblo pudo volver a la normalidad de nuevo. Sin embargo todo eran apariencias...
          Pronto empezaron a correr rumores y la ciudad comenzó a sufrir extraños sucesos. Criaturas indescriptibles empezaron a aparecer de la nada y se sucedían accidentes mortales con una frecuencia alarmante. Nadie sabía lo que estaba pasando y el Departamento de Policía parecía impotente ante tales sucesos.

          Entonces llegan a la ciudad Claire Redfield y Leon S. Kennedy. Ambos persiguen un motivo distinto. Claire piensa que encontrará allí a su hermano y Leon pretende incorporarse a su nueva unidad en la Policía. Lo que no se pueden ni imaginar es que sus destinos se cruzarán para adentrarse en un abrumador mundo de terror y supervivencia como nunca antes han vivido...
        </p>
      </mat-card-content>
      
    </mat-card>
  </div>
</ion-content>
