<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Jill Valentine</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/jillre3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Jill es miembro de S.T.A.R.S. y uno de los supervivientes del incidente ocurrido en las montañas Arkley. Es especialista en desarmar trampas explosivas, su caracter se puede clasificar como alegre y se considera independiente con un fuerte sentido de la justicia.
        </p>
      </mat-card-content>
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Carlos Oliveira</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/carlosre3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          	
          Es un soldado de U.B.C.S. (Umbrella Biohazard Countermeasure Service), responsable de armas pesadas, seguridad y apoyo a las misiones. Es también responsable del mantenimiento de armas. A primera vista puede parecer inexperto e inmaduro.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Nicholai Ginovaeff</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/nicore3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Frio y extremadamente reservado, Nicholai es el sargento de la unidad de mercenarios contratada por la U.B.C.S.
          En el pasado fue miembro de la Armada Roja de la extinta Unión Soviética y tiene experiencia en numerosas misiones y proyectos secretos.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Mikhail Victor</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/michaelre3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es el comandante del equipo de mercenarios contratado por la U.C.B.S. Procedente de St. Petersburg, Rusia, ha salido con éxito de muchas misiones y tiene una contrastada experiencia en el combate.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Brad Vickers</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/bradre3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es piloto de helicóptero de la unidad S.T.A.R.S. En las montañas Arkleys abandonó a sus compañeros en pleno ataque de los cerberus, pero al final corrió a rescatarles antes de la explosión.
        </p>
      </mat-card-content>
      
    </mat-card>

    


    

  </div>
</ion-content>