<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident evil 3</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/re3presentacion.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          	
          Han pasado casi dos meses. Septiembre llega a Raccoon City y la gente empieza a olvidar el extraño incidente que ocurrió en las montañas Arkleys.
          Nadie creía los relatos de los supervivientes. Las historias de un laboratorio secreto en la Mansión, extrañas armas biológicas y horribles zombies superaban la imaginación de los lugareños. Los miembres de S.T.A.R.S. con vida pusieron rumbo a Europa en busca de explicaciones antes incluso de que la ciudad supiese de los detalles...

          Esperaban que todo hubiese acabado. Pero entonces volvió a pasar. De repente, ocurrieron una serie de inexplicables asesinatos, y una extraña enfermedad comenzó a invadir las calles. La plaga invisible se deslizó silenciosamente y convirtió a los desprevenidos ciudadanos en monstruos. Maldijeron su propia estupidez. Pero la pesadilla ya había comenzado...
          Raccoon City estaba condenada...
        </p>
      </mat-card-content>
      
    </mat-card>
  </div>
</ion-content>
