<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Claire Redfield</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/clairere2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Llega a Raccoon City en busca de su hermano Chris, pero se topa con que el pueblo ha sido contagiado por el Virus. A duras penas logrará escapar junto a Leon y refugiarse en La Comisaría de Policía, pero ese solo será el principio de toda una espeluznante aventura donde pondrá a prueba sus habilidades de supervivencia y su valor..
        </p>
      </mat-card-content>
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Leon S. Kennedy</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/leonre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          	
          Se desplaza a Raccoon City para incorporarse al cuerpo de policía, pero nada más llegar descubre que ya poco queda vivo en la ciudad. Su única salida será escapar junto a Claire hasta la Comisaría. Sin embargo, nunca se imaginaría que los verdaderos problemas comenzarían precisamente allí...
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Sherry Birkin</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/sherryre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es la hija de Annette y William Birkin, los científicos que dieron origen al G-Virus. Solo tiene 12 años y es solitaria e insegura, aunque es bastante madura para su edad.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Ada Wong</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/adare2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Esta misteriosa mujer es una espía mandada por la agencia que se había infiltrado como empleada en Umbrella para apoderarse del T-Virus. Para ello fingía estar enamorada de uno de los investigadores de la mansión llamado John. Una referencia a ella se puede obtener leyendo el File de RE1 titulado "Carta del Investigador".
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Ben Bertolucci</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/benre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Ben es un periodista que encontraría su gran oportunidad al oir sobre Umbrella y los hechos acontecidos en el bosque de Raccoon meses antes.
        </p>
      </mat-card-content>
      
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Brian Irons</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/brianre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es el jefe de policía de Raccoon City, que fue sobornado por Umbrella para hacer la vista gorda sobre sus experimentos e incluso llegar a ocultar un laboratorio bajo la mismísima comisaría, consiguiendo una considerable cantidad de dinero por ello.
        </p>
      </mat-card-content>
      
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	Annette Birkin</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/annettere2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Ella es científica de Umbrella, esposa de William y madre de Sherry. Cuando Umbrella mata a su marido por obtener el G-Virus prácticamente enloquece y se lo lleva con ella como un último legado al que protegerá con su vida (bueno...más bien se lo coloca a sherry en forma de colgante).
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Hunk</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/hunkre2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          


          Hunk es un agente mandado por Umbrella en un equipo para robarle el G-Virus a William Birkin. Sin embargo, cuando se encuentran con el doctor lohieren de muerte y provocan que se lo inyecte sobre su propio cuerpo.
        </p>
      </mat-card-content>
      
    </mat-card>


    

  </div>
</ion-content>

