

<ion-content [fullscreen]="true">
  <div class="inicio-img"><img class="img1" src="../../../assets/img/umb.png" alt="umbrella"></div>
  
  <div class="inicio-cont">
   
    <form [formGroup]="ionicForm"  novalidate>
      <div class="ion-padding">
  
        <ion-item>
          <ion-input placeholder="username" formControlName="email" class="input" />
          <ion-icon name="person-outline"></ion-icon>
          
        </ion-item>
      
        <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
            <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Email is required.</ion-text>
            <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Please provide valid email.</ion-text>
        </div>
        <ion-item>
          <ion-input type="password" placeholder="password" formControlName="password" class="input" />
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
            <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">password is required.</ion-text>
            <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput"  color="danger">Password Must contain at least one character</ion-text>
        </div>
      
        <div class="forgotpassword">
          <a [routerLink]="['/forgot-password']" style="color: #FFC33F">Olvidaste tu contraseña?</a>
        </div>
  
      </div>
      <div class="signupLink">
        <p class="p">Eres nuevo? <a [routerLink]="['/registrarse']" style="color: #FFC33F">Registrate ahora</a></p>
      </div>
  
      <ion-button
      expand="block"
      shape="round"
      id="loginButton"
      (click)="login()"
    >
      Ingresar
    </ion-button>
    </form>
  </div>
        
</ion-content>