<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>B.O.W.S.</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Zombies / V-ACT</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/crimsonhead.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son los científicos y demás habitantes de la mansión que han sido infectados por el T-Virus. Están muertos y presentan un aspecto putrefacto.
          Si el zombie pierde la conciencia, el virus continúa mutando y altera aun más su metabolismo, transformándolo en una criatura más ágil y agresiva llamada V-ACT o Crimson Head.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cerberus</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cerberusremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Perros alterados genéticamente por medio del T-Virus, de forma que su fuerza y agresividad han quedado aumentadas.
        </p>
      </mat-card-content>


      
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">MA-121 Hunter</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/hunterremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Una forma de vida que se crea alterando la estructura genética de un humano mediante T-Virus y añadiendo posteriormente información genética de otros reptiles. Su nombre en código "Hunter" expresa la habilidad y eficiencia que tienen para acechar y dar caza a las presas. Poseen garras afiladas y tienen los músculos de las patas super desarrollados, posibilitándoles dar grandes saltos.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cuervo</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/crownremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Cuervos infectados por el T-Virus que atacan a cualquier criatura viva que se les pase por delante. Suelen ir en bandadas.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Arañas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/arañaremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Arañas contagiadas por el T-Virus que han crecido en tamaño y fiereza.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Serpientes</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/vivoras.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Serpientes comunes infectadas por el T-Virus, provocando un aumento en su velocidad y agresividad. El veneno que produce su mordedura es mortal.
        </p>
      </mat-card-content>
    </mat-card>



    
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Abejas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/abejasremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Abejas que han sido infectadas por el T-Virus provocando en ellas un aumento de tamaño y agresividad. El veneno de su aguijón puede llegar a ser mortal.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Chimera</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/chimera.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Grotesca arma biológica creada al combinar los genes de un ser humano con los de una mosca. Aunque en general parece humanoide, ha conservado muchas características de la mosca, como la capacidad para trepar por las paredes o los afilados apéndices.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Neptune</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/neptune.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Tiburón super desarrollado gracias a los efectos del T-Virus. Viene acompañado de otros tiburones de menor tamaño.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Yawn</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/yawn.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Serpiente que posiblemente se contaminó por el T-Virus, aumentando su tamaño y fiereza.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Planta 42</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/planta42.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Planta que ha sido infectada por el T-Virus de manera diferente al resto, creciendo de forma desorbitada por toda la casa de invitados y desarrollando inteligencia.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Black Tiger</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/blacktiger.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es una araña que ha crecido mucho más que el resto por la exposición del T-Virus
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Lisa Trevor</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/lisatrevor.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es la hija de George Trevor, el creador de la mansión. A los 10 años fue secuestrada junto a su madre para usarla como cobaya humano en diversos experimentos con virus. Su madre no logró sobrevivir, pero ella aguantó 30 años soportando sobre su organismo todo tipo de pruebas. Sin embargo perdió la razón y ahora vaga demente por las instalaciones en busca de su madre. El haber asimilado tantos experimentos sobre ella la hacen invulnerable y con el tiempo ha desarrollado una fuerza sobrehumana.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Tyrant T-002</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/tyrantremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Una poderosa y efectiva arma biológica creada por Umbrella con el T-Virus. Tiene una aterradora forma humana y posee una enorme garra en su mano izquierda. Su fuerza es descomunal...
        </p>
      </mat-card-content>
    </mat-card>



    






  </div>
</ion-content>

