<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Armas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Cuchillo</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/cuchire3.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Sigpro SP2009</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/sigpro-sp2009-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Pistola M92F</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/pistore3.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Escopeta Benelli M3S</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/benelli-m3s-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Revolver S&W M629C</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/s-and-w-m629c-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzagranadas HK-P</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/hk-p-grenade-launcher-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzaminas E</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/mine-thrower-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Rifle de Asalto M4A1</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/m4a1-assault-rifle-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Pistola ST1 Eagle 6.0.</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/sti-eagle-60-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Rifle M37</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/western-custom-m37-removebg-preview.png">
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Ametralladora</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/gatling-gun-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzacohetes M66</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/rocketre.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    
  </div>
  
</ion-content>
