<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Chris Redfield</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/chrisredfield1.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Tras su expulsión de las Fuerzas Aéreas, Chris estuvo perdido hasta que conoció a Barry Burton, que le reclutó para el recién formado cuerpo S.T.A.R.S. Se trata de un agente experimentado, inteligente y dotado de una fuerza formidable. Todo un experto en sortear situaciones críticas y salvar hasta la más arriesgada de las misiones. Ahora Chris ha sido reasignado en una unidad pequeña de los cuarteles generales de Raccoon City, donde tendrá que demostrar su valía ante una misión que cambiará su vida para siempre...
        </p>
      </mat-card-content>
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Jill Valentine</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/jillvalentine1.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          	
          Posee una inteligencia extraordinaria en la que se mezclan el sentido común y la velocidad de reflejos. Su buen juicio ha salvado muchas vidas (incluida la suya) en numerosas ocasiones, y así lo reflejan sus condecoraciones. Lleva poco tiempo en S.T.A.R.S. y es la mecánica del grupo, especialista en forzar cerraduras. Ahora parte para una nueva misión. Una que en principio podría cosiderarse de rutina, pero que se acabará transformando en la más horrible de sus pesadillas...
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Albert Wesker</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/weskerremake.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Wesker ha subido rápidamente en la organización de S.T.A.R.S. y en la actualidad es el jefe del equipo Alpha. Muchos lo ven como un "tipo duro", lo cual queda reforzado por su aspecto, luciendo siempre pelo rapado y gafas de sol. Sus dotes de mando son indudables. Sin embargo, el objetivo de Wesker es bien distinto. Trabaja oculto para la compañía Umbrella y ordenes superiores le obligan a traicionar a sus compañeros y enfrentarlos a las distintas armas bio-orgánicas para recopilar datos reales de combate. Una misión "sencilla" para alguien como él, pero que conllevará consecuencias imprevistas...
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Barry Burton</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/barry1.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es el viejo amigo y compañero de Chris Redfield. Ex miembro de los SWAT, Barry mantiene y provee armas para todos los miembros de S.T.A.R.S. Tiene más de 16 años de experiencia y ha terminado muchos casos con éxito. Barry es un aliado en el que se puede confiar, aunque alguien sabrá aprovechar su único punto débil y volverlo en contra de sus amigos... Sale como apoyo de Jill salvándole de algún que otro apuro y ayudándole con la munición.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Rebecca Chambers</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/rebecca1.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          El miembro más joven del grupo. Rebecca ha sido reclutada por sus conocimientos de medicina de campo y de primeros auxilios. No se siente a gusto con otros miembros, debido a su edad (18 años) y falta de experiencia. Rebecca desea complacer, y se hará cargo de cualquier misión a la que sea asignada sin dudarlo. Es la única superviviente del Equipo Bravo y sirve de apoyo cuando juegas con Chris, siendo útil sus conocimientos musicales y químicos, de los cuales carece el protagonista.
        </p>
      </mat-card-content>
      
    </mat-card>


    

  </div>
</ion-content>
