<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Armas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Cuchillo</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/knifere2.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Pistola H&K VP70</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/pistolare2.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Pistola Browning HP</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/browning-hp-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Remington M1100-P</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/remington-m1100-p-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Ballesta</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/bow-gun-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Desert Eagle 50A.E.</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/desert-eagle-50ae-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzagranadas M79</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/m79-grenade-launcher-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Ametralladora MAC11</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/mac11-sub-machine-gun-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzallamas</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/flamethrower-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Arma Eléctrica</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/sparkshot.png">
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Lanzacohetes</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/rocket-launcher-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Gatlin</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/gatling-gun-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="titulo-color">Colt S.A.A.</mat-card-title>
          <img mat-card-sm-image src="../../../assets/img/colt-saa-removebg-preview.png" >
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>
  </div>
  
</ion-content>


