<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cambiarpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">Restablecer contraseña</ion-title>
    <p class="subtitle">Introduce tu nueva contraseña</p>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="nuevaContrasena" placeholder="Nueva contraseña" class="input" type="password"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-button class="sendBtn" expand="block" shape="round" (click)="cambiarContrasena()">Actualizar contraseña</ion-button>
  </div>
</ion-content>