<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident evil Remake</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/remake1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          El Equipo Alpha está sobrevolando la zona boscosa situada al noroeste de Raccoon City. Vamos en busca del helicóptero de nuestros compañeros del Equipo Bravo, con los cuales hemos perdido comunicación.

Recientemente han habido varios casos de asesinatos. Se han recibido extraños informes sobre familias atacadas por grupos de hasta 10 personas. Aparentemente las victimas presentaban marcas de dentelladas.
El Equipo Bravo fue enviado a investigar los hechos, pero perdimos el contacto

- ¡Mira Chris!

El helicóptero del Equipo Bravo estaba abandonado. No quedaba nadie dentro, sólo el cuerpo de Kevin... Proseguimos la búsqueda de los demás miembros... pero todo se convirtió en... una pesadilla.
        </p>
      </mat-card-content>
      
    </mat-card>
  </div>
</ion-content>
