<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <div class="alinear-botones">
      <ion-title>Noticias</ion-title>
      <ion-button class="boton-ir-home" fill="clear" [routerLink] ="['/tabsgeneral/home']">Retornar home</ion-button>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img class="racconcity" src="../../../assets/img/racconcityfont.png" alt="rc">
  </div>
  
  
  <div class="custom-list-background">
    <ion-list class="custom-list-background">
      <ion-item-sliding *ngFor = "let item of noticias">
        <ion-item>
          <ion-avatar item-start>
            <img class="icono" src="assets/icon/favicon.png">
          </ion-avatar>
          <ion-label>
            <h5>{{ item.titulo }}</h5>
            <!-- word-wrap para los cortes entre palabras  white-space para que aparezca todo el texto en varias lineas y no se corte-->
            <p style="word-wrap: break-word; white-space: normal;">{{ item.texto }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon name="create" ></ion-icon>Editar
          </ion-item-option>
          <ion-item-option (click)="eliminarNoticia(item)">
            <ion-icon name="trash" ></ion-icon>Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  
    </ion-list>
  </div>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/registrar']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>