<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <div class="alinear-botones">
      <ion-title>Sección Bonus</ion-title>
      <ion-button class="boton-ir-a-registrar" fill="clear" [routerLink] ="['/noticias']">Noticias</ion-button>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img class="raccon-font" src="../../../assets/img/racconcityfont.png" alt="racconcity">
  </div>
  <h3 class="juegos-titulo">Comics</h3>
  <div class="slide-in-blurred-left">
    <div class="comic-hori">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          <mat-card-title class="titulo-color">Resident Evil (Volume 1) Issue #1</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image class="imgre1"  src="../../../assets/img/RE_Magazine_1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          <mat-card-title class="titulo-color">Resident Evil (Volume 1) Issue #2</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image class="imgre0"  src="../../../assets/img/RE_Magazine_2.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          <mat-card-title class="titulo-color">Resident Evil (Volume 1) Issue #3</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image class="imgre0"  src="../../../assets/img/RE_Magazine_3.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          <mat-card-title class="titulo-color">Resident Evil (Volume 1) Issue #4</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image class="imgre0"  src="../../../assets/img/RE_Magazine_4.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          <mat-card-title class="titulo-color">Resident Evil (Volume 1) Issue #5</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image class="imgre0"  src="../../../assets/img/RE_Magazine_5.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  
  <h3 class="juegos-titulo">Novelas</h3>
  <div class="novelas-hori">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #1</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela1"  src="../../../assets/img/novela1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #2</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela2"  src="../../../assets/img/novela2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #3</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela3"  src="../../../assets/img/novela3.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #4</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela4"  src="../../../assets/img/novela4.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #5</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela5"  src="../../../assets/img/novela 5.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #6</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela6"  src="../../../assets/img/novela6.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Resident Evil Novela #7</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgnovela7"  src="../../../assets/img/novela7.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button fill="clear" [routerLink] ="['/residentevilzero']">Información</ion-button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ion-button class="boton-ir-home" fill="clear" [routerLink] ="['/testeoapi']">Foro</ion-button>
  
  
</ion-content>
