ion-content {
    --background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  .error-404 {
    color: #ffffff;
  }
  
  .error-404 h1 {
    font-size: 10rem;
    font-weight: bold;
    color: #ffc33f;
    margin: 0;
  }
  
  .error-404 p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #ffc33f;
  }
  
  ion-button {
    --background: #ffc33f;
    --background-activated: #ff4c4c;
    --border-radius: 20px;
    font-weight: bold;
    padding: 0.5rem 2rem;
  }

  .color-header{
    --background: #000000d5; /* Color negro */
    --color: white; /* Texto en blanco */
  }

  ion-content{
    --background: url(/assets/img/fondo2.png) no-repeat center center / cover
}

.p{
    color: white;
}