<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resident Evil Zero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img class="foto-principal" src="../../../assets/img/resident0.png" alt="">
  </div>
  <div class="fondo">
    <ion-button color="medium" class="boton1">Personajes</ion-button>
    <ion-button color="medium" class="boton1">B.O.W</ion-button>
    <ion-button color="medium" class="boton1">Armas</ion-button>
    <ion-button color="medium" class="boton1">Historia</ion-button>
    <ion-button color="medium" class="boton2">Files</ion-button>
  </div>
</ion-content>
