<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Rebecca Chambers</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/rebecca.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Rebecca es la miembro más joven del equipo Bravo de STARS. En su primera misión sobrevuelan las montañas Arklay, pero el helicóptero sufre una avería y se ven forzados a realizar un aterrizaje de emergencia en medio del bosque.
        </p>
      </mat-card-content>
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Billy Coen</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/billy.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          	
          Es un ex-teniente del cuerpo de Marines que, acusado de asesinar a 23 personas, ha sido condenado, juzgado y sentenciado a la pena máxima por un Tribunal Militar. Sin embargo, en el trayecto a la Base Regarthon, lugar donde tendrá lugar dicha sentencia, el transporte que lo lleva es atacado por extrañas criaturas que matan a su escolta y hacen que se estrelle.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Albert Wesker</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/wesker.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Fue contratado junto a William Birkin para trabajar bajo las órdenes directas de James Marcus en la recién creada compañía Umbrella. Con el tiempo se ganó su confianza hasta el punto de ser partícipe en el mayor descubrimiento hasta entonces, el T-Virus.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">James Marcus</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/james.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Marcus fue, junto a Spencer, el descubridor del virus progenitor. Cuando Spencer decidió fundar su propia empresa fue nombrado director y continuó los estudios de tal descubrimiento apoyado por Albert Wesker y William Birkin, dos jóvenes y brillantes incorporaciones que llegaban por entonces a la recien nacida Umbrella.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">William Birkin</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/william.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Fue contratado junto a Albert Wesker para trabajar bajo las órdenes directas de James Marcus en la recién creada Compañía Umbrella. Así llegó a ganarse su confianza y fue partícipe del gran descubrimiento, el T-Virus.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Enrico Marini</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/enrico.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es el lider del equipo Bravo, y el segundo de a bordo de la unidad S.T.A.R.S. después de Wesker.
        </p>
      </mat-card-content>
      
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Edward Dewey</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/edward.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es el copiloto del equipo Bravo, una persona seria, justa y con un gran sentido de la responsabilidad.
        </p>
      </mat-card-content>
      
    </mat-card>

  </div>
</ion-content>
