<ion-header [translucent]="true">
  <ion-toolbar class="color-header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>B.O.W.S.</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="slide-in-blurred-left">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Arañas</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/arañare3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Arañas contagiadas con el virus que han sufrido un aumento considerable de tamaño.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Brain Suckers</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/brainsucker.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son algún tipo de insecto que ha crecido y mutado gracias al T-Virus. Parecidos a los Drain Deimos.
        </p>
      </mat-card-content>


      
      
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	
          Drain Deimos</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/draindeimo.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son algún tipo de insecto que ha crecido y mutado gracias al T-Virus.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cuervo</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/cuervore2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Cuervos infectados por el T-Virus que atacan a cualquier criatura viva que se les pase por delante. Suelen ir en bandadas.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Grave Digger</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/gravedigger.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Parece ser un gusano que ha mutado gracias al T-Virus, desarrollando un gran tamaño y fiereza.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">MA-121 Hunters</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/hunterre3.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Arma biológica creada por Umbrella mitad rana mitad gorila. Son las mísmas criaturas rápidas y mortales que aparecían en la mansión del primer juego.
        </p>
      </mat-card-content>
    </mat-card>



    
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Cerberus</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/perrore2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Son perros guardianes infectados por el virus.
        </p>
      </mat-card-content>
    </mat-card>



    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">MA-124 Hunters Gamma</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/hunter124gamma.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Arma biológica creada por Umbrella mitad rana mitad gorila. Son más rápidos y peligrosos que el modelo 121, con un aspecto menos desarrollado.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	
          Nemesis</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/nemere3.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Es un prototipo nuevo de Tyrant que manda Umbrella para acabar con los miembros de S.T.A.R.S.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">	
          Sliding Worm</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/worms.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Pequeños gusanos posiblemente engendrados por el Grave Digger.
        </p>
      </mat-card-content>
    </mat-card>




    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        
        <mat-card-title class="titulo-color">Zombies</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image class="imgre0"  src="../../../assets/img/zombiere2.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Las personas que han sido contaminadas por el T-Virus. Están muertos y tienen el cuerpo putrefacto.
        </p>
      </mat-card-content>
    </mat-card>




    
